<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<meta charset="iso-8859-1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
{% for post in studinfo %}
  <div class="row">
    <div class="col-sm-2">
      {{post.regno}}
    </div>
    <div class="col-sm-2">
      {{post.name}}
    </div>
    <div class="col-sm-2">
      {{post.sex}}
    </div>
    <div class="col-sm-2">
      {{post.date_of_birth}}
    </div>
    <div class="col-sm-2">
      {{post.sex}}
    </div>
    <div class="col-sm-2">
      {{post.per_add}}
    </div>
    <div class="col-sm-2">
      {{post.pre_add}}
    </div>
    <div class="col-sm-2">
      {{post.stud_mobile}}
    </div>
    <div class="col-sm-2">
      {{post.parent_mobile}}
    </div>
    <div class="col-sm-2">
      {{post.email}}
    </div>
    <div class="col-sm-2">
      {{post.caste}}
    </div>
    <div class="col-sm-2">
      {{post.degree_title}}
    </div>
    <div class="col-sm-2">
      {{post.univ_name}}
    </div>
    <div class="col-sm-2">
      {{post.agre_per}}
    </div>
    <div class="col-sm-2">
      {{post.state}}
    </div>
    <div class="col-sm-2">
      {{post.test_attn}}
    </div>
    <div class="col-sm-2">
     {% if post.test_attn == "pgcet" %}
      {{post.rank_cet}}
     {% else %}
      {{post.rank_kmat}}
     {% endif %}
    </div>

  </div>
{% endfor %}
</div>			
			
</body>
</html>
